<div class="author-info d-flex flex-row justify-content-between align-items-center px-2 mb-5 color-grayblack{{#has tag='#link,#micro'}} border-top{{/has}}" style="margin-top: 4.5rem;">
    {{#primary_author}}
        <div class="author-image flex-shrink-1 flex-grow-0">
            {{#if profile_image}}
                <img class="post-author-image rounded-circle" alt="{{name}}" src="{{profile_image}}">
            {{/if}}
        </div>
        <div class="author-bio flex-shrink-1 flex-grow-1 px-4 py-3">
            <h4 class="mb-0 font-weight-bold">{{name}}</h4>
            <p class="text-muted small">{{bio}}</p>
        </div>
        <div class="author-page flex-shrink-0 flex-grow-1 d-lg-block d-none">
            <a href="{{@site.url}}/about/" role="button" aria-pressed="true" class="btn btn-sm btn-outline-secondary small" style="border-radius: 20px; font-size: 80%;">About Me</a>
        </div>
    {{/primary_author}}
</div>
