<li class="post-item">
    <article class="post-article {{post_class}}">
    {{^has tag="#link,#micro"}}
        <h5 class="font-weight-semibold my-1"><a href="{{url}}" class="text-dark">{{title}}</a></h5>
        <div>{{date published_at format="MMMM D, YYYY"}}</div>
        <p class="post-excerpt mt-3">{{excerpt}}
          <a href="{{url}}" class="text-black-50">Read more...</a>
        </p>
    {{else}}
        <div class="post-content post-micro-content mb-5 text-justify">
            {{content}}
        </div>
        <a class="text-black-50" href="{{url}}">&rarr; {{date published_at format="LLL"}}</a>
    {{/has}}
    </article>
</li>
{{^if @last}}
<li class="separator my-5"></li>
{{/if}}
