<div class="read-next d-flex flex-column flex-lg-row bg-dark justify-content-center align-items-stretch text-center">
    {{#next_post}}
        <a class="read-next-story text-decoration-none flex-grow-1 flex-shrink-1" href="{{url}}"{{#if feature_image}} style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),{{!-- linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.55)), --}} url({{feature_image}}); background-position: center center; background-size: cover;"{{/if}}>
            <section class="post-info p-5 h-100">
                <h2 class="color-white mt-2 mb-3">{{title}}</h2>
                <p class="excerpt text-base">{{excerpt words=30}}...</p>
            </section>
        </a>
    {{/next_post}}
    {{#prev_post}}
        <a class="read-next-story prev text-decoration-none flex-grow-1 flex-shrink-1" href="{{url}}"{{#if feature_image}} style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),{{!-- linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.55)), --}} url({{feature_image}}); background-position: center center; background-size: cover;"{{/if}}>
            <section class="post-info p-5 h-100">
                <h2 class="color-white mt-2 mb-3">{{title}}</h2>
                <p class="excerpt text-base">{{excerpt words=30}}...</p>
            </section>
        </a>
    {{/prev_post}}
</div>
