<!DOCTYPE html>
<html lang="{{@site.lang}}" class="h-100">

<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="Description" content="{{@site.description}}">
    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{!-- CSS files --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/main.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/highlightjs/tomorrow-night.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/cookieconsent.min.css"}}" />
    {{!-- JQuery --}}
    <script src="{{asset "js/jquery-3.3.1.min.js"}}"></script>
    {{!-- Bootstrap --}}
    <script src="{{asset "js/bootstrap.bundle.min.js"}}"></script>
    {{!-- Fontawesome fonts --}}
    <script data-search-pseudo-elements defer src="{{asset "js/fontawesome.min.js"}}"></script>
    {{!-- HighlightJS --}}
    <script src="{{asset "js/highlight.pack.js"}}"></script>
    <script>
    hljs.initHighlightingOnLoad();
    </script>
    {{!-- Load GDPR Cookie JS --}}
    <script src="{{asset "js/cookieconsent.min.js"}}"></script>
    <script src="{{asset "js/gdprcookie.js"}}"></script>
    {{!-- Fit embedded videos --}}
    <script src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script>
    $(document).ready(function() {
        // Target your .container, .wrapper, .post, etc.
        $(".kg-embed-card").fitVids();
    });
    </script>
    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}
</head>

<body name="top" class="d-flex flex-column h-100 {{body_class}}">
    {{> "top-nav"}}
    {{!-- Height of 1px is required because otherwise Safari does not "grow" content --}}
    <main class="flex-shrink-0">
        {{{body}}}
    </main>
    <footer class="mt-auto bg-dark text-light">
        {{#is 'post'}}
            {{#post}}
            {{^has tag="#micro,#link"}}
                {{> "related-read-next"}}
            {{/has}}
            {{/post}}
        {{/is}}
        {{> "default-footer" }}
    </footer>
</body>
{{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
{{{block "scripts"}}}
{{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
{{ghost_foot}}

</html>
